body{
    background-image: url(patt.png);
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    color: #2c71b8;
    
}
header{
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 25px 0;
}
.wrapper{
    width: 1176px;
    margin: 0 auto;
    
}
.column{
    float: left;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.logo-holder{
    margin-top: 5px;
    
}
.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}
.menu > li{
    float: left;
    width: 25%;
    border-right: 1px solid #2c71b8;
}
.menu:after{ 
    content: "";
    display: block;
    clear: both;
    
}

.clearfix{
    clear: both;
}
.menu{
    position: relative;
}

.menu li a{
    display: block;
    line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
}
.menu li a:hover{
	color: white;
    background: #2c71b8;
}
.menu li a:hover i{
    color: white;
    
}
.menu li:first-child{
	border-left: 1px solid #2c71b8;
}
.col-75{
    width: 75%;
    
}

#search {
    float: left;
    height: 40px;
    padding-left: 20px;
    background-color: #cadbed;
    border: 1px solid #2c71b8;
}

#input-div {
    position: relative;
    padding-top: 5px;
    margin-left: 30px;
   
}
#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


#search::-webkit-input-placeholder {
    color: #2c71b8;
}
#search:-moz-placeholder {
    color: #2c71b8;
}
#search::-moz-placeholder {
    color: #2c71b8;
}
#search:-ms-input-placeholder {
    color: #2c71b8;
}
#search-icon-holder {
    background-color: #2c71b8;
    width: 30px;
    box-sizing: border-box;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 10px;
    padding: 0;
    background-image: url(search-icon.png);
    background-position: center;
    background-repeat: no-repeat;
}


#basket-icon-holder {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    float: left;
    background-image: url(basket-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    
}


#number{
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 4px 6px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 14px;
}



 
.menu > li>ul{ 
    position: absolute;
    left: 145px;
    width: 50%;
    display: none;
    
}
.submenu li{
    background-color: #2c71b8;
    
}
.submenu li:first-child{
    padding-top: 16px;
}
.submenu li:last-child{
    padding-bottom: 16px;
}
.submenu li a{
    color: white;
    background-color: #2c71b8;
    padding-left: 35px;
    font-size: 21px;
    text-align: left;
    line-height: 40px;
}
.submenu li a:hover{
    background-color: white;
    color: #2c71b8;

}

/*
 #submenu li a:first-child {
    padding-top: 30px;
} 
*/


 .menu li:hover>ul {
    display: block;
}



.color-blue{
    background-color: #2c71b8;
    color: white;
}
.slider{
    height: 400px;
} 



.col-12{
    width: 100%;
}
.col-66{
    width: 66%;
}
.col-33{
     
    width: 33%;
    padding-left: 26px;
    margin-bottom: 30px;
}
.path{
    float: left;
    padding-left: 30px;
   
}
h1{
    font-size: 40px;
    color: white;
     padding-bottom: 50px;
    padding-left: 30px;
    font-weight: 700;
}
p {
    font-size: 14px;
    color: white;
}
p a{
    color: white;
    text-decoration: none;
}
.path{
    padding-top: 30px;
    
    padding-bottom: 30px;
    float: left;
}
.path p{
    display: inline;
}



#sort{
    width: 267px;
}
.product-holder{
    float: left;
    border: 1px solid white;
    
}
.focus-holder{
    background-image: url(img/focus.png);
    background-repeat: no-repeat;
    border: 1px solid #2c71b8;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.focus-holder:hover{
    background-color: #2c71b8;
    background-image: url(img/white-focus.png);
}
.fav-holder{
    background-image: url(img/fav.png);
    background-repeat: no-repeat;
    border: 1px solid #2c71b8;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 50px;
    
    
}

.product-image{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    width: 270px;
    height: 180px;
}
.product-image img{
    margin: 0;
    position: absolute;;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
.product-info{
    float: left;
    padding-left: 12px;
    
}

h2{
    color: white;
    font-size: 21px;
    font-weight: bold;
    
}

.black{
    background-color: black;
}

.price-holder{
    text-align: center;
    margin-top: 30px;
    
}
.f-price-holder{
    text-align: center;
    margin-top: 50px;
    
}
.price{
    font-size: 48px;
    font-weight: bold;
    
}
.info{
    font-size: 21px;
}
.buttons-block{
    margin-left: -12px;
    text-align: center;
    margin-top: 30px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px 26px;
    font-size: 21px;
    background: none;
    color: white;
    border: 1px solid white;
    
}
.details-button{
    width: 209px;
}
.cart-button{
    margin-bottom: 30px;
    margin-top: 15px;
    position: relative;
    padding-right: 40px;
    background: rgba(238, 130, 238, .2)
}
.cart-block{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(img/white-cart.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    top: 10px;
}
#sort{
    background: none;
    font-size: 21px;
    color: white;
    padding-left: 20px;
    padding-bottom: 11px;
    padding-top: 11px;
    border: 1px solid white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.sort-holder{
    position: relative;
}
.arrow-holder{
    position: absolute;
    right: 10px;
    top: 15px;
}
.arrow-holder i{
    color: white;
    transition: .5s;
}

#underlined{
    text-decoration: underline;
}
.sub-sort{
    position: absolute;
    background-color: #2c71b8;
    width: 200px;
    top: 48px;
    z-index: 1;
    width: 100%;
    left: 2px;
    display: none;
}
.sub-sort li{
    background-color: #2c71b8;
}

.sub-sort li a{
    color: white;
    background-color: #2c71b8;
    padding-left: 35px;
    font-size: 21px;
    text-align: left;
    line-height: 40px;
    display: block;
    text-decoration: none;
    
}
.sub-sort li a:hover{
    background-color: white;
    color: #2c71b8;
    

}
.sort-holder:hover>form>div:first-child{
    display: block;
}
.sort-holder:hover>form>div:nth-child(2)>i{
    transform: scale(1.5)
}
.catalog{
    border-top: 1px solid white;
}

/*
.menu li:hover>ul {
    display: block;
}*/
b{
    color: white;
    font-weight: 800;
}
sup {
    font-size:24px; 
    vertical-align:super;
    color: white;
}
.load{
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 90px;
}

.checkbox-form{
    background: rgba(238, 130, 238, .2);
    border-right: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.checkbox-form>form>h3{
    color: white;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    
}

.checkbox-form>form>div>label{
    color: white;
}
input[type="checkbox"]{
    display: none;
}
label{
    position: relative;
    margin-left: 50px;
    font-size: 21px;
    font-weight: 300;
    display: block;
    margin-top: 23px;
}
label:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: none;
    position: absolute;
    top: 6px;
    left: -20px;
    border: 1px solid white;
}
input:checked+label:before{
    background-color: white;
}
.checkbox-header{
    margin-top: 60px;
}
#checkbox-options{
    text-align: center;
    margin-top: 30px;
}
#checkbox-options>p{
font-size: 21px;
    font-weight: 300;
}

.fav-blue{
    background-color: #2c71b8;
    background-image: url(img/white-fav.png);
    background-position: center;
    background-repeat: no-repeat;
}
.slider{
    text-align: center;
    background-color: rgba(35, 90, 147, .7);
}
/*
.slider-holder{
    margin: 100px auto 0 auto;
}
.slider-holder>p{
    font-size: 50px;
    display: inline-block;
}
.slider-holder>p>i{
    font-size: 50px;
    color: white;
}*/
.col-10{
    width: 84%;
    
}
.slider-holder{
    text-align: center;
}
.col-1{
    width: 8%;
}
.col-1>div>p>i{
    font-size: 80px;
    color: white;
    
}
.arrow{
    margin-top: 180px;
}
#slide{
    font-size: 100px;
    font-weight: 300;
   
}
.slider-holder{
    margin-top: 155px;
}
.square{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid white;
}
.white{
    background-color: white;
}